*{
	font-family: sans-serif;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	display: inline-flex;
	justify-content: center;
    align-items: center;
    line-height: 25px;
}


a{
	text-decoration: none;
}
a:visited{
	color: blue;
}

#name{
	margin: 0 10px 5px 0;
}

#info{
	

	margin: -100px 30px 80px 40px;
	height: 100%;

}
#info > a{
	margin: 70px;
	text-decoration: none;
	color: black;   
}

#block{

	width: 300px;
	height: 1000px;
	margin: 0 0 0 -20px;
	background-color: #B0C4DE;
}
#sobre{
	margin: 20px 40px 100px 40px;
	height: 100%;
	
}

#titulo{
	font-size: 20px;
	margin: 0 0 10px 25px;
	color: #DCDCCE;
}

#endereco, #contato{
	margin: 0 0 0 30px;
}
#foto{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 10px 0 30px;
}



ul{
	list-style: none;
}

#experiencia > ul {
	
	margin: 10px 0 20px 30px;
	
}
#experiencia {
	
	margin: 10px 50px 20px 0px;
	
}
#empresa{
	margin: 0 0 0 30px;
}

#formacao{
	margin: 20px 0 20px 0;
}

#formacao > h4{
	font-size: 25px;
	margin: 0 0 15px 0;
}

#formacao > ul{
	margin: 0 0 0 30px;
}

#experiencia > h5{
	font-size: 25px;
	margin: 0 0 19px 0;
}
#descricao-exp > p{
	margin:10px 0 0 30px;
}
#sobre > h3{
	margin: 0 0 10px 0;
}
#sobremim > h3{
	margin: 0 0 10px 0;
}
#sobremim > p{
	margin: 0 0 0 10px;
}

@media (max-width: 600px)
{
  body{
  	margin: 0;
  }

  *{
	font-family: sans-serif;
	margin:0;
	padding: 0;
}

  #sobre{
	margin: -650px 0 0 210px;
	align-items: center;
  }
  img{
  	float: left;
  }
  #sobremim{
  margin: 30px;
  width: 200px;
  display: none;

  }
  #info{
  	margin: 300px 30px;
  }
 #foto{
	
	margin: 100px 0 0 0;	
	
}
  #block{
  	justify-content: center;
    align-items: center;
	background-color: #B0C4DE;
}


